[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
ipython = "*"

[packages]
appdirs = "==1.4.3"
astroid = "==1.5.2"
isort = "==4.2.5"
lazy-object-proxy = "==1.2.2"
mccabe = "==0.6.1"
pylint = "==1.7.1"
pyparsing = "==2.2.0"
six = "==1.10.0"
wrapt = "==1.10.10"
flask-bootstrap = "*"
flask = "*"
flask-wtf = "*"
gunicorn = "*"
sh = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
