[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "==1.7.1"
ipython = "*"
rope = "*"

[packages]
appdirs = "==1.4.3"
astroid = "==1.5.2"
contextvars = "==2.4"
isort = "==4.2.5"
lazy-object-proxy = "==1.2.2"
mccabe = "==0.6.1"
pylint = "==1.7.1"
pyparsing = "==2.2.0"
six = "==1.10.0"
wrapt = "==1.10.10"
flask-bootstrap = "==3.3.7.0"
flask = "==2.0.3"
flask-wtf = "==1.0.1"
gunicorn = "==20.1.0"
sh ="==1.14.2"
celery = "==5.2.0b3"
rq = "==1.10.1"
pika = "==1.2.0"
simplejson = "==3.17.6"
requests = "==2.27.1"
werkzeug = "==2.0.3"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
