{% extends "bootstrap/base.html" %}

{% block title %}File Uploader{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

<!-- Generic page styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<!-- blueimp Gallery styles -->

<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {# change this to URL of paper when published: #}
                <li><a target="_blank" href="https://github.com/FredHutch/SEACR/">Method</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a target="_blank" href="/report_issue" title="Report issue with this website">Report Issue</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% block page_content %}{% endblock %}
{% endblock %}

{% block scripts %}

{{ super() }}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}