{% extends "base.html" %}
{% block title %}Peak calling by Sparse Enrichment Analysis for CUT&RUN (SEACR){% endblock %}

{% block page_content %}

<blockquote>
    <img src="static/img/fh-logo.png" border="0"/>
</blockquote>

<div class="container">
    <h1>Peak calling by Sparse Enrichment Analysis for CUT&amp;RUN (SEACR)</h1>

    <!-- <p>
        This web site is based on the 
        SEACR method described []
    </p> -->
    <br>
    {# The file upload form used as target for the file upload widget #}
    <!-- <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data"> -->

    <div id="fileupload-container" class="container" style="margin-top: 20px;">
        <p>Required Fields</p>
        <div class="row">

            {# <button class="col-sm-1" onclick="reset($('#fio'))">Reset file</button> #}


            <div class="col-lg-6 col-sm-6 col-12">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            Browse&hellip; <input type="file" assoc="file1" style="display: none;" id="file1-chimera">
                        </span>
                    </label>
                    <input type="text" id="file1" class="form-control jork file1-class"
                        placeholder="target data bedgraph file">
                </div>
                <span class="help-block">
                    Target data bedgraph file in UCSC <a target="_blank"
                        href="https://genome.ucsc.edu/goldenpath/help/bedgraph.html">bedgraph</a> format that omits
                    regions containing 0 signal.
                </span>
            </div>
        </div>

        <div class="row">

            {# <button class="col-sm-1" onclick="reset($('#fio'))">Reset file</button> #}


            <div class="col-lg-6 col-sm-6 col-12">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            Browse&hellip; <input type="file" assoc="file2" style="display: none;" id="file2-chimera">
                        </span>
                    </label>
                    <input type="text" id="file2" class="form-control jork file2-class"
                        placeholder="Control (IgG) data bedgraph file">
                </div>
                <span class="help-block">
                    Control (IgG) data bedgraph file to generate an empirical threshold for peak calling.
                </span>
            </div>
            <div class="col-sm-1">or</div>
            <div class="col-sm-5">
                {# <label for="usr">Numeric threshold <i>n</i>:</label> #}
                <input type="text" class="form-control" id="threshold" placeholder="numeric threshold between 0 and 1">
                <span class="help-block">
                    A numeric threshold
                    <i>n</i> between 0 and 1 returns the top <i>n</i> fraction of peaks based on total signal within
                    peaks.
                </span>

            </div>

        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-12">
                <div class="radio">
                    <label><input type="radio" name="normnon" value="norm" checked>norm</label>
                </div>
                <div class="radio"
                    title='"norm" denotes normalization of control to target data, "non" skips this behavior. "norm" is recommended unless experimental and control data are already rigorously normalized to each other (e.g. via spike-in).'>
                    <label><input type="radio" name="normnon" value="non">non</label>
                </div>
                <span class="help-block">“norm” denotes normalization of control to target data, “non” skips this
                    behavior. "norm" is recommended unless
                    experimental and control data are already rigorously normalized to each other (e.g. via
                    spike-in).</span>
            </div>
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-5">
                <div class="radio">
                    <label><input type="radio" name="relaxedstringent" value="relaxed" checked>relaxed</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="relaxedstringent" value="stringent">stringent</label>
                </div>
                <span class="help-block">“relaxed” uses a total signal threshold between the knee and peak of the
                    total signal curve, and corresponds to the
                    “relaxed” mode described in the text, whereas “stringent” uses the peak of the curve, and
                    corresponds to “stringent”
                    mode.</span>

            </div>

        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-12">
                <input type="text" class="form-control" id="outputprefix" placeholder="output prefix">
            </div>

        </div>
        <span class="help-block">Generated output file(s) will begin with the prefix you specify.</span>
        <div class="container" style="margin-top: 20px;">
            <div class="row">

                <div class="col-sm-1">&nbsp;&nbsp;</div>
                <div class="col-sm-5">
                    {#  For some reason, the submit button here
                                    does not work. It actually submits the form
                                    and changes the current page. #}
                    {# <button type="button" id="submitbutton" class="btn btn-primary">Submit</button> #}
                </div>
            </div>
        </div>

        <div class="row">
            <p>Optional Fields  </p>
            <div class="col-lg-6 col-sm-6 col-12">
                <input type="text" class="form-control" id="extension" placeholder="0.1">
                <span class="help-block">
                    Peak extension constant for peak merging (Default=0.1)
                </span>

            </div>
            <div class="col-sm-5">
                <div class="radio">
                    <label><input type="radio" name="remove" value="yes" checked>yes</label>
                    <label><input type="radio" name="remove" value="no">no</label>
                    <span class="help-block">
                        Remove peaks overlapping IgG peaks?
                    </span>
    
                </div>


            </div>

        </div>

        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                {# The fileinput-button span is used to style the file input field as button #}
                {# <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add files...</span>
                        <input type="file" name="file" multiple>
                    </span> #}
                <button type="submit" id="submitbutton" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Submit</span>
                </button>
                {# <button type="reset" class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel upload</span>
                    </button> #}
                {# <input type="checkbox" class="toggle"> #}
                {# The global file processing state #}
                {# <span class="fileupload-process"></span> #}
            </div>
            {# The global progress state #}
            <div class="col-lg-5 fileupload-progress fade">
                {# The global progress bar #}
                {# <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                    </div> #}
                {# The extended global progress state #}
                {# <div class="progress-extended">&nbsp;</div> #}
            </div>
        </div>


    </div>
    <div class="row">
        <p>&nbsp;</p>
    </div>


    {# Redirect browsers with JavaScript disabled to the origin page #}
    <noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>
    {# The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload #}
    {# The table listing the files available for upload/download #}
    <div style="display: none">
        <table role="presentation" class="table table-striped">
            <tbody class="files"></tbody>
        </table>
    </div>
    <!-- </form> -->
    <div id="progress-container" style="display: none;">
        <br>
        <div id="global-progress-container">
            <div class="row">
                <span class="col-12 label label-default">Global Progress:</span>
            </div>
            <div class="row">
                {# global progress bar #}
                <div id="progress" class="progress col-12">
                    <div class="progress-bar progress-bar-success"></div>
                </div>
            </div>
            <br>

        </div>
        <div class="row">
            <span class="col-12 label label-default">Target data file progress:</span>
        </div>
        <div class="row">
            {# target progress bar #}
            <div id="target-progress" class="progress col-12">
                <div class="progress-bar progress-bar-success"></div>
            </div>
        </div>

        <br>
        <div id="control-progress-container">
            <div class="row">
                <span class="col-12 label label-default">Control file progress:</span>
            </div>
            <div class="row">
                {# control progress bar #}
                <div id="control-progress" class="progress col-12">
                    <div class="progress-bar progress-bar-success"></div>
                </div>
            </div>
        </div>
    </div>


    <div id="console-hideme" style="display: none;">

        <div class="row">
            <span class="col-6 label label-default">Task status:</span>
            <span class="col-6 label label-info" id="task_status"></span>
        </div>

        <div class="row">
            <span class="col-12 label label-default">Output console:</span>
        </div>
        <div class="row">
            <div>&nbsp;</div>
            <div id="console-container" style="border-style: solid;">
                <div id="console"></div>
            </div>
        </div>
    </div>

    <div id="error-container" class="row" style="display: none;">
        <h2>Error!</h2>
        <p>SEACR encountered an error, see console for details.</p>
        <div>&nbsp;</div>
        <a class="btn btn-primary" href="/">Run Again</a>
    </div>

    <div id="results-container" class="row" style="display: none;">
        <h2>Results:</h2>
        <div id="results"></div>
        <br />
        <div>
            <span class="col-12 label label-default">Empirical false discovery rate:</span>
            <span class="col-6 label label-info" id="empirical_fdr"></span>

            <br />
        </div>
        <div>&nbsp;</div>
        <a class="btn btn-primary" href="/">Run Again</a>
    </div>
    <div id="scroll_to_me"></div>


</div>


{# modals #}

<div class="modal fade" id="validation_failure_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Validation Failure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Errors:</b></p>
                <div id="error_list"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="upload_problem">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload problem</h5>
            </div>
            <div class="modal-body">
                <p>There was a problem uploading your file(s).
                    Please try again or 
                    <a target="_blank" href="/report_issue">
                    report an issue</a>.
                </p>
                <p>
                    <a class="btn btn-primary" href="/">Run Again</a>
                </p>

            </div>
        </div>
    </div>
</div>


<footer class="footer">
    <div class="container">
        <span class="text-muted">We gratefully acknowledge our funders:&nbsp;</span>
        <a href="https://www.hhmi.org/" target="_blank"><img height="50" width="50" border="0"
                src="/static/img/hhmi.jpg" /></a>
        &nbsp;
        <a href="https://www.genome.gov/" target="_blank"><img height="50" width="50" border="0"
                src="/static/img/nhgri.jpg" /></a>
    </div>
</footer>


{# NOTE: be careful removing this stuff, it breaks upload functionality  #}
{# The template to display files available for upload #}
{% raw %}
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
{% endraw %}


<blockquote>
    If you use SEACR in your work, please cite Meers, MP, Tenenbaum, D and Henikoff S (2019). <a target="_blank" href="https://epigeneticsandchromatin.biomedcentral.com/articles/10.1186/s13072-019-0287-4">Peak calling by sparse enrichment analysis for CUT&RUN chromatin profiling</a>. <i>Epigenetics & Chromatin</i> 2019 <b>12:42</b>.
</blockquote>


{% endblock %}


{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{# The jQuery UI widget factory, can be omitted if jQuery UI is already included #}
<script src="static/js/vendor/jquery.ui.widget.js"></script>
{# bootstrap #}
<script src="static/js/bootstrap.min.js"></script>
{# axios  #}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{# The main application script #}
<script src="static/js/main.js?timestamp={{timestamp}}"></script>
{# The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 #}
{#[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]#}
{% endblock %}