<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/jquery-filestyle.min.css')}}"> -->

    <title>SEACR</title>
</head>

<body>
    <h1>SEACR</h1>


    <p>&nbsp;</p>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <!-- <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">

                        <input type="file" id="inputGroupFile01" class="filestyle" data-icon="false">
                        <label class="custom-file-label" for="inputGroupFile01">Target data bedgraph file</label>
                    </div>
                </div>
 -->

                <!-- <form class="md-form">
                    <div class="file-field">
                        <div class="btn btn-primary btn-sm float-left">
                            <span>Choose file</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload your file">
                        </div>
                    </div>
                </form> -->


                <!-- <label class="btn btn-default">
                    Browse <input type="file" hidden>
                </label> -->


                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            Browse&hellip; <input type="file" style="display: none;" multiple>
                        </span>
                    </label>
                    <input id="foo" type="text" class="form-control" placeholder="fook" readonly>
                </div>
                <span class="help-block">
                    Try selecting one or more files and watch the feedback
                </span>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile02"
                            aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile02">Control (IgG) data bedgraph file</label>
                    </div>
                </div>


            </div>
            <div class="col-sm-1">
                or
            </div>
            <div class="col-sm-5">

                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Numeric threshold">
                <small id="emailHelp" class="form-text text-muted">a number between 0 and 1</small>

            </div>
        </div>
        <div class="row">
            <div class="col-sm">

                <div class="radio">
                    <label><input type="radio" name="optradio" checked>norm</label>
                    <label><input type="radio" name="optradio">non</label>
                </div>
            </div>
            <div class="col-sm">

                <div class="radio">
                    <label><input type="radio" name="optradio" checked>union</label>
                    <label><input type="radio" name="optradio">AUC</label>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-sm">

                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter output prefix">
                <small id="emailHelp" class="form-text text-muted">[output prefix].auc.threshold.merge.bed</small>

            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- <script src="{{url_for('.static', filename='js/jquery-filestyle.min.js')}}"></script> -->
    <script src="{{url_for('.static', filename='js/SEACR.js')}}"></script>
</body>

</html>